{# Template général de la page #}
{% extends 'base.html.twig' %}

{# Titre de la page #}
{% block title %} Modify Bien Agence Alpha {% endblock %}

{# Css de la page #}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
{% endblock %}


{# Codes HTML et balises Twig #}
{% block body %}
<div class="container">
    <h1>Bien</h1>

    <h2>Modifier un bien</h2>

    <hr>
    </hr>

    <div class="row">
        <div class="col">
            {{form_start(formView)}}
            {% form_theme formView 'bootstrap_4_layout.html.twig' %}
            {{form_row(formView.titre)}}
            {{form_row(formView.prix)}}
            {{form_row(formView.cp)}}
            {{form_row(formView.categorie)}}
            {{form_row(formView.surface)}}
        </div>
        <div class="col">
            {{form_row(formView.localisation)}}
            {{form_row(formView.url)}}
            {{form_row(formView.description)}}
            <p style="color:red;">Les champ suivis d'un astérisque (*) doivent obligatoirement être remplis</p>
            <button type="submit"> Modifier le bien </button>
            {{form_end(formView)}}
        </div>
    </div>

    <hr>
    </hr>

    <div class="row">
        {% include 'shared/_presentation.html.twig' with { 'color': 'white', 'icon': 'fa-solid fa-location-dot', 'text': 'Proximité' } %}
        {% include 'shared/_presentation.html.twig' with { 'color': 'white', 'icon': 'fa-regular fa-lightbulb', 'text': 'Conseil' } %}
        {% include 'shared/_presentation.html.twig' with { 'color': 'white', 'icon': 'fa-solid fa-signs-post', 'text': 'Choix' } %}
    </div>

    <hr>
    </hr>

</div>
{% endblock %}